:root{
    --cor1: rgb(2,43,43);
    --cor2: rgb(200,200,200);
}
body{
    background-color: var(--cor1);
    color: var(--cor2);
}
body, form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form{
    margin-top: 5vw;
    background-color: var(--cor2);
    width: 50vw;
    height: 60vh;
    border-radius: 2em;
    color: var(--cor1);
    font-size: 2em;
}
form input{
    margin: 2vh 0;
    width: 35vw;
    height: 5vh;
    border: 1px solid --cor1;
    border-radius: 2.5vh;
    text-align: center;
    font-size: 1em;
}
form input:last-child{
    background-color: red;
    color: white;
    width: 25vw;
    height: 7vh;
    border: 1px solid --cor1;
}
form input:last-child:hover{
    background-color: white;
    color: var(--cor1);
    border: 1px solid --cor1;
}
.resul{
    background-color: var(--cor2);
    margin: 2vh 0;
    width: 35vw;
    height: 15vh;
    border: 1px solid --cor2;
    border-radius: 2.5vh;
    text-align: center;
    font-size: 2em;
    color: var(--cor1);
}