*{
    padding: 0;
    margin: 0;
}
:root{
    --body: #1f1e1e;
    --sidebar: #13265a;
    --main: #def3f7;
    --color1: #def3f7;
    --color2: #1f1e1e;
}
body{
    background-color: var(--body);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.sidebar, .main{
    height: 100vh;
}
.sidebar{
    width: 13vw;
    background-color: var(--sidebar); 
    color: var(--color1);
}
.main{
    width: 85vw;
    background-color: var(--main); 
}



.navbar{
    border: 1px solid --sidebar;
}